p{
  font-family: nimbus-roman, serif;
  font-style: normal;
  font-weight: 400;
  font-size:20px;
  line-height: 24px;
}

.linkme{
  position:fixed;
  height:calc(100vh - 200px);
  width:calc(50vw - 120px);
  top:100px;
  overflow:hidden;
}
.linkme:first-child{
  left:100px;
}
.linkme:last-of-type{
  right:100px;
}
.test{
  color:red;
}
